extends layout
block main
    body
        .container.bc-white
            img(src="img/blank.gif", data-src="img/index-title.png").img-index-title
            img(src="img/blank.gif", data-src="img/index-pic.png").img-index-pic
            button(type="button", id="btnBegin", data-href="select.html").btn.btn-border.btn-lg.active 马上开始
        //aside(id="loading").ui-loading-wrap
        //    i.ui-loading
        //    p 加载中...
        //button(type="button").btn.btn-border.btn-sm.mt20 小按钮
        //button(type="button").btn.btn-border.btn-sm.active.mt20 选中小按钮
        //button(type="button", id="btn4").btn.btn-border.btn-sm.btn-xs.mt20 超小按钮
        //button(type="button", id="btn1").btn.btn-border.btn-lg.mt20 大按钮
        //button(type="button", id="btn2").btn.btn-border.btn-mid.mt20 中等按钮
        //button(type="button", id="btn3").btn.btn-border.btn-angle.mt20 中等按钮
        //input(type="tel", placeholder="请填写手机号即可").input.mt20
