doctype html
html(lang="zh-cn")
    block vars
    head
        meta(charset="utf-8")
        meta(name="format-detection", content="telephone=no")
        meta(name="applicable-device", content="mobile")
        script(src="../../../h5che/src/libs/ui/js/core/flexible.js", inline)
        link(rel="stylesheet" href="build/css/style.css?__VERSION")
        title 车轮车主节
        block head

    block main
    script(src="build/js/index.bundle.js?__VERSION")
    block script